button:nth-child(3),
button:nth-child(4),
button:nth-child(5) {
	display: none !important;
}

div.c-ihwAQz-sfUOo-hasPlaceholder-false {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
	justify-content: flex-end;
	/* leave space for back-btn: +3rem */
	left: 1rem;
	bottom: 1rem !important;
	top: auto;
	right: 1rem;
	gap: 1.25rem;
	padding: .5rem !important;
	border-radius: 1rem !important;
	width: calc(100% - 2rem);
	height: 3.5rem;
	backdrop-filter: contrast(0.8);
	background-color: #3333;
	z-index: 1;
	button.c-fuvPUR {
		filter: sepia(1.5);
		background-color: #000a;
		fill: currentcolor !important;
		stroke: currentcolor !important;
		margin: 0 !important;
		height: 2.25rem !important;
		width: 2.25rem !important;
		border-radius: 50% !important;
	}
    svg {
        filter: brightness(1.5)
    }
}

.c-fzAQyx {
	z-index: 1;
	top: 0.5rem!important;
	left: auto !important;
	right: 0.5rem !important;
	z-index: 1;
	background: #0000 !important;
}
