img {
	opacity: 0;
	object-fit: contain;
}

@property --j0 {
	syntax: '<number>';
	initial-value: 0;
	inherits: true;
}

@keyframes j0 {
	0% {
		--j0: 0;
	}
	30% {
        --j0: 0.55;
    }
    /* 40% {
        --j0: 0.2;
    }
    60% {
        --j0: 0.8;
    } */
    70% {
        --j0: 0.55;
    }
	100% {
		--j0: 1;
	}
}

article {
	margin: 1.5rem;
	box-shadow:
		-0.5px -0.5px 0 1.5px #ffffff42,
		0 0 0 6px #000;
	border-radius: 0.25rem;
	border: 0.3rem solid #000;
	max-height: fit-content;
	align-self: start;
	max-width: 843px;
	justify-self: self-end;
}

/* create a query container for dot sizes */

section {
	display: grid;
	place-content: center;
	--dots-anim: linear-gradient(
				905deg,
				var(--dark),
				var(--light),
				var(--dark-muted),
				var(--lighter)
			)
			0 calc(var(--j0) * 50vw) / 100vw 50vh,
		radial-gradient(closest-side, var(--lighter), var(--dark-dot)) 0/0.5rem
			0.5rem space;
	--dark: #0001;
	--dark-muted: #0001;
	--dark-dot: #0008;
	--light: hsl(from var(--colorHsl) h 50 90);
	--lighter: hsl(from var(--colorHsl) h 50 96);
	position: relative;
	animation: j0 10s linear alternate infinite;
	border-radius: 0.25rem;
}

section:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: calc(100% - 2rem);
	background-repeat: no-repeat;
	background-position: center;
	border-width: 1rem;
	border-radius: 0.25rem;
}

.halftone {
	background: var(--halftone-url), var(--dots-anim);
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	max-width: 843px;
	overflow: hidden;
	filter: blur(1.5px) grayscale(0.4) contrast(2) brightness(0.8);
	background-blend-mode: overlay;
	mix-blend-mode: hard-light;
	opacity: 1;
	border-radius: 0.25rem;
	box-shadow:
		0 0 0 0.1rem #0008,
		0 0 0 0.3rem #000d;
}

.halftone::before {
	background: var(--dots-anim);
	position: absolute;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	max-width: 843px;
	overflow: hidden;
	filter: blur(1.5px) grayscale(0.4) contrast(2) brightness(0.8);
	background-blend-mode: overlay;
	mix-blend-mode: hard-light;
	opacity: 1;
	border-radius: 0.25rem;
	box-shadow:
		0 0 0 0.1rem #0008,
		0 0 0 0.3rem #000d;
}

/*#endregion*/

/* #region artwork details */

body > div > div > ul > li:nth-child(1) {
	font-size: 1.25rem;
}

body > div > div > ul > li:nth-child(1) > span:nth-child(1) {
	font-size: 1rem;
}

body > ul > li > p {
	opacity: 99%;
	color: #e3dcd0;
}

p {
	color: #eee;
}

/*#endregion*/
