/*#region Animated-Halftone*/
/*+ Animated Halftone */

img {
	opacity: 0;
	object-fit: contain;
}

@property --j0 {
	syntax: '<number>';
	initial-value: 0;
	inherits: true;
}

@keyframes j0 {
	to {
		--j0: 1;
	}
}

article {
	margin: 2rem;
	box-shadow:
		0 0 0.2rem var(--colorHsl),
		0 0 0.4rem hsl(from var(--colorHsl) h s l / 50%),
		0 0 0.5rem #000;
	border-radius: 0.3rem;
}

section {
	display: grid;
	place-content: center;
	grid-gap: 0 0.5em;
	--dots-anim: linear-gradient(var(--dark), var(--light), var(--dark)) 0
			calc(var(--j0) * 20vh) / 100% 20vh,
		radial-gradient(closest-side, var(--light), var(--dark)) 0/0.5rem 0.5rem
			space;
	--dark: #000c;
	--light: hsl(from var(--colorHsl) h 50 90);
	position: relative;
	animation: j0 2s linear infinite reverse;
}

.halftone {
	background: var(--halftone-url), var(--dots-anim);
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	max-width: 843px;
	overflow: hidden;
	filter: sepia(0) brightness(1) grayscale(0) contrast(1) blur(0.5px);
	background-blend-mode: overlay;
	mix-blend-mode: exclusion;
	border-radius: 0.6rem;
	opacity: 1;
}

.title-container {
	display: inline-flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 100vw;
	margin-bottom: 1rem;
	mix-blend-mode: luminosity;
	opacity: 0.85;
	/* backdrop-filter: blur(2px) grayscale(0.5) brightness(0.85);
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, transparent, #0005, transparent);
	} */
}

/* h1 {
	font-size: clamp(1.5rem, calc(12px + 2.5vw), 2rem);
	color: #fffe;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	text-shadow: 0 0 0.2rem black;
	font-weight: 900;
	backdrop-filter: blur(2px) grayscale(0.5) brightness(0.85);
	text-shadow: 0 0 2px black;
} */

h1 {
	font-size: clamp(1.2rem, calc(12px + 2vw), 1.5rem);
	color: #fffe;
	padding: 0.1rem 0.25rem;
	border-radius: 0.5rem;
	font-weight: 700;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		rotate: 1deg;
		z-index: -1;
		background-color: #000a;
	}
}

/*#endregion*/

/* #region artwork details */

.details-container {
	width: clamp(350px, 50ch, 100vw);
}

body > ul {
	margin-top: clamp(350px, 50ch, 100vw);
	max-width: clamp(350px, 50ch, 100vw);

	> li:nth-child(1) {
		color: #fff;
		font-weight: bold;
	}

	> li:nth-child(2) {
		font-weight: bold;

		> span {
			font-size: 1rem;
			font-weight: medium;
			color: #fff;
		}
	}

	> li > p {
		opacity: 99%;
		color: #e3dcd0;
	}
}

p {
	color: #eee;
}

.logo {
	display: inline-grid;
	padding: 1rem;
	justify-content: end;
	/* background: radial-gradient(
		circle at 3.25rem,
		#0c0a0980 2rem,
		#0c0a09a0 2.2rem,
		#0000 2.5rem,
		#0c0a09 6rem,
		#0c0a09 70%,
		#0c0a0980
	); */
}

/*#endregion*/
